<div class="main-content">
<div class="info-grid">
    <div class="info-card">
        <h2 class="section-title">Reserva en línea para asegurar tu asiento en el próximo viaje.</h2>
    
  <mat-stepper [linear]="isLinear" #stepper>
  
    <!-- Step Destino de viaje -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Destino</ng-template>

      <div class="payment-section">
        <mat-form-field class = "control-full-width" >
          <mat-label>Origen</mat-label>
          <input matInput formControlName="fromCtrl" placeholder="Ej. Guatemala"
                 required>
                 <mat-error *ngIf="secondFormGroup.get('fromCtrl')?.hasError('required')">
                  Campo requerido
                </mat-error>
        </mat-form-field>

        <mat-form-field class = "control-full-width">
          <mat-label>Destino</mat-label>
          <input matInput formControlName="toCtrl" placeholder="Ej. Quetzaltenango"
                 required>
                 <mat-error *ngIf="secondFormGroup.get('toCtrl')?.hasError('required')">
                  Campo requerido
                </mat-error>
        </mat-form-field>
      </div>

        <div class ="step-buttons">
          <button matButton matStepperPrevious>Regresar</button>
          <button matButton matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

         <!-- Step Fecha-->
         <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Fecha</ng-template>

            <div class="payment-section">
                <mat-form-field>
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="thirdFormGroup.get('date')?.hasError('required')">
                      La fecha es requerida
                    </mat-error>
                  </mat-form-field>
                </div>

              <div class = "step-buttons">
                <button matButton matStepperPrevious>Regresar</button>
                <button matButton matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>

          <!-- STEP 4: Selección de asiento -->
          <mat-step>
            <ng-template matStepLabel>Asientos</ng-template>
    
            <div class="bus-container">
              <img src="https://pc.kosokubus.com/include/ib/img/seats_page/img_standard.jpg" alt="Diagrama de asientos del bus" class="bus-image">
    
              <ng-container *ngFor="let seat of seats">
                <div class="seat" [ngClass]="getSeatClass(seat.status)"
                  [style.top.px]="seat.top" [style.left.px]="seat.left"
                  (click)="selectSeat(seat.number)">
                  {{ seat.number }}
                </div>
              </ng-container>
            </div>
    
            <div class="seat-legend">
              <span class="legend available">🟩 Disponible</span>
              <span class="legend occupied">🟥 Ocupada</span>
              <span class="legend reserved">🟨 Reservada</span>
              <span class="legend held">🟦 Apartada</span>
            </div>
    
            <div class = "step-buttons">
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button matStepperNext [disabled]="!selectedSeat">Siguiente</button>
            </div>
          </mat-step>
    
          <!-- STEP Datos-->
          <mat-step>
            <ng-template matStepLabel>Datos</ng-template>
           
            <div class="payment-section">
    <h3>Datos del Viajero</h3>

    <form [formGroup]="passengerFormGroup">
      <mat-form-field class="control-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Apellido, Nombre">
        <mat-error *ngIf="passengerFormGroup.get('name')?.hasError('required')">Este campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="control-full-width">
        <mat-label>DPI o Pasaporte</mat-label>
        <input matInput formControlName="id">
        <mat-error *ngIf="passengerFormGroup.get('id')?.hasError('required')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    
      <mat-form-field class="control-full-width">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="passengerFormGroup.get('phone')?.hasError('required')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="passengerFormGroup.get('phone')?.hasError('pattern')">Debe tener 8 dígitos</mat-error>
      </mat-form-field>
    </form>
            </div>

              <div class = "step-buttons">
              <button mat-button matStepperPrevious>Regresar</button>
              <button matButton matStepperNext>Siguiente</button>
            </div>
          </mat-step>
    
             <!-- STEP Pago -->
             <mat-step>
              <ng-template matStepLabel>Pago</ng-template>
              <div class="payment-section">
                <h3>Boletos</h3>
                <p><strong>Nombre:</strong> {{ passengerFormGroup.get('name')?.value }}</p>
                <p><strong>DPI/Pasaporte:</strong> {{ passengerFormGroup.get('id')?.value }}</p>
                <p><strong>Celular:</strong> {{ passengerFormGroup.get('phone')?.value }}</p>
                <p><strong>Origen:</strong> {{ secondFormGroup.get('fromCtrl')?.value }}</p>
                <p><strong>Destino:</strong> {{ secondFormGroup.get('toCtrl')?.value }}</p>
                <p><strong>Fecha:</strong> {{ thirdFormGroup.get('date')?.value | date }}</p>
                <p><strong>Asiento:</strong> {{ selectedSeat }}</p>
                <p><strong>Total a pagar:</strong> Q125</p>
                <div class="timer">
                  Tiempo restante: <span id="countdown">{{ countdown }}</span>
                </div>
      
                <button mat-raised-button color="warn" class="pay-button" (click)="paySeat()">Pagar Boleto</button>
                <div *ngIf="paymentConfirmed" class="confirmation-message">✅ Pago confirmado</div>
              </div>
      
              <div class = "step-buttons">
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext [disabled]="!paymentConfirmed">Finalizar</button>
              </div>
            </mat-step>
      
          <!-- STEP 6: Final -->
          <mat-step>
            <ng-template matStepLabel >Listo</ng-template>
            <p class="section-title">Tu boleto ha sido reservado.</p>

            <div class = "step-buttons">
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button (click)="resetStepper()">Reiniciar</button>
            </div>

            <button mat-raised-button color="primary" [routerLink]="['/reservas']" class ="button-reserva">Ver Reserva</button>
          </mat-step>
    
        </mat-stepper>
      </div>
    </div>
  </div>